<div vlass="contactUsWrapper">

  <!-- CONTACT US HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'KONTAKTIRAJTE_NAS' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'KONTAKTIRAJTE_NAS_HEADER' | translate}}</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- OUR LOCATIONS SECTION -->
  <h1 class="HeadlineText">{{'NASE_LOKACIJE' | translate}}</h1>
  <div class="flex">
    <div class="contactUsTextWrapper">
      <div class="contactUsTextHeader">
        {{'KONTAKTIRAJTE_NAS_01' | translate}}
      </div>
      <div class="contactUsTextContent">
        {{'KONTAKTIRAJTE_NAS_02' | translate}}
      </div>
      <div class="contactUsTextContent">
        {{'KONTAKTIRAJTE_NAS_03' | translate}}
      </div>
      <div class="contactUsTextContent">
        {{'KONTAKTIRAJTE_NAS_04' | translate}}
      </div>
      <div class="contactUsTextContent">
        <a class="socialMediaHref" href="#">
          <img class="socialMediaImg" style="width: 50px;" src="assets/images/twitterLogo.png">
        </a>
        <a class="socialMediaHref" href="#">
          <img class="socialMediaImg" style="width: 50px;" src="assets/images/instagramLogo.png">
        </a>
        <a class="socialMediaHref" href="#">
          <img class="socialMediaImg" style="width: 50px;" src="assets/images/facebookLogo.png">
        </a>
      </div>
    </div>
    <div class="mapWrapper">
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1XdvqgTGX2-pdcSh5w2sbi5gdH3nnIXwf" height="480"
        width="100%"></iframe>
    </div>
  </div>

  <!-- Contact us form -->
  <h1 class="HeadlineText">{{'KONTAKTIRAJTE_NAS_05' |translate}}</h1>
  <div class="modal">
    <div class="modal__container">
      <div class="modal__featured">
        <div class="modal__circle"></div>
        <img src="assets/images/login.png" class="modal__product" />
      </div>
      <div class="modal__content">
        <h2>{{'KONTAKTIRAJTE_NAS' | translate}}</h2>
        <form>
          <ul class="form-list">
            <li class="form-list__row">
              <label>{{'KONTAKTIRAJTE_NAS_06' | translate}}</label>
              <input type="text" [(ngModel)]="ourEmailAdress" name="ourEmail" disabled
                style="background-color: transparent;">
            </li>
            <li class="form-list__row">
              <label>{{'KONTAKTIRAJTE_NAS_07' | translate}}</label>
              <input type="text" name="userEmail" [(ngModel)]="emailData.from"  (focusout)="checkEmail(); checkButton()" [ngClass]="{'errorInput': emailError}"/>
              <span *ngIf="emailError" class="errorMessage">{{'EMAIL_ERROR' | translate}}</span>
            </li>
            <li class="form-list__row">
              <label>{{'KONTAKTIRAJTE_NAS_08' | translate}}</label>
              <input type="text" name="emailSubject" [(ngModel)]="emailData.subject"  (focusout)="checkSubject(); checkButton()"
                [ngClass]="{'errorInput': subjectError}" />
              <span *ngIf="subjectError" class="errorMessage">{{'SUBJECT_ERROR' | translate}}</span>
            </li>
            <li class="form-list__row">
              <textarea name="emailContent" placeholder="{{'KONTAKTIRAJTE_NAS_09' | translate}}" rows="3"
                [(ngModel)]="emailData.content" (focusout)="checkContent(); checkButton()" [ngClass]="{'textAreaError': contentError}"></textarea>
              <span *ngIf="contentError" class="errorMessage">{{'CONTENT_ERROR' | translate}}</span>
            </li>
            <li>
              <a class="btn" (click)="sendEmail()" [ngClass]="{'disabledButton': buttonDisabled}">{{'POSALJI' | translate}}</a>
            </li>
          </ul>
        </form>
      </div> <!-- END: .modal__content -->
    </div> <!-- END: .modal__container -->
  </div>
</div>
