<div vlass="contactUsWrapper">
  <!-- Contact us header -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">CONTACT US</h1>
      <h2 class="coverHeaderContent">Have request or complient? Feel free to contact us!</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <h1 class="HeadlineText">OUR LOCATIONS</h1>
  <div class="flex jc-c">
    <div class="mapWrapper">
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1XdvqgTGX2-pdcSh5w2sbi5gdH3nnIXwf" height="480"width="100%"></iframe>
    </div>
  </div>

  <h1 class="HeadlineText">CONTACT FORM</h1>
</div>
