.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.noDataText {
  font-size: 20px;
  color: #f34d4d;
  font-weight: bold;
  font-family: initial;
  text-transform: uppercase;
}

.noDataImage {
  height: 250px;
}

@media only screen and (min-width: 800px) {
  .noDataText {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .noDataText {
    font-size: 35px;
  }
}
