<div vlass="basketWrapper">

  <!-- Menu HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'KOSARICA' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'KOSARICA_HEADER' | translate}}</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <div *ngIf="basketItems.length > 0; else emptyBasket">
    <!-- BASKET SECTION-->
    <div class="basketWrapper">
      <div class="ui-g ui-fluid w-100">
        <div *ngFor="let item of basketItems" class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
          <div class="quantityContainer">
            <svg xmlns="http://www.w3.org/2000/svg" class="displayOnHover icon icon-tabler icon-tabler-circle-minus"
              width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F44336" fill="none"
              stroke-linecap="round" stroke-linejoin="round" (click)="decreaseQuantity(item.productId)">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="12" x2="15" y2="12" />
            </svg>

            <span class="us-none cursor-dft">{{item.quantity}}</span>

            <svg xmlns="http://www.w3.org/2000/svg" class="displayOnHover icon icon-tabler icon-tabler-circle-plus"
              width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5ce34" fill="none"
              stroke-linecap="round" (click)="increaseQuantity(item.productId)" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="12" x2="15" y2="12" />
              <line x1="12" y1="9" x2="12" y2="15" />
            </svg>
          </div>
          <div class="productImage" (click)="navigateToProduct(item.name)">
            <img class="us-none" src="assets/images/products/{{item.imageName}}" style="width: 100px">
          </div>
          <div class="productName us-none" (click)="navigateToProduct(item.name)">
            {{item.name}}
          </div>
          <div class="productPrice us-none" (click)="navigateToProduct(item.name)">
            {{item.price}}kn
          </div>
          <div class="flex jc-c buttonContainer">
            <a class="btn btnRemove" (click)="removeProductFromBasket(item)">{{'UKLONITE_PRODUKT' | translate}}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- PAYOUT SECTION -->
    <div class="payoutWrapper">
      <div class="payoutHeader">
        {{'NARUCITE' | translate}}
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-3 ui-md-12 ui-sm-12 flex ai-c fd-c">
          <div class="contentHeader">
            {{'ADRESA' | translate}}
          </div>
          <div class="contentValue">
            <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event)" [(ngModel)]="orderDetails.address"
              [ngClass]="{'errorInput': addressError}" (focusout)="addressError = false" />
          </div>
          <span *ngIf="addressError" class="errorMessage">{{'ADRESA_ERROR' | translate}}</span>
        </div>
        <div class="ui-g-12 ui-lg-3 ui-md-12 ui-sm-12 flex ai-c fd-c">
          <div class="contentHeader">
            {{'ZABILJESKA' | translate}}
          </div>
          <div class="contentValue">
            <textarea name="emailText" placeholder="Enter your notice here..." rows="1"
              [(ngModel)]="orderDetails.note"></textarea>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-3 ui-md-12 ui-sm-12 flex ai-c fd-c">
          <div class="contentHeader">
            {{'UKUPNO' | translate}}
          </div>
          <div class="contentValue">
            {{totalAmountToPay}}kn
          </div>
        </div>
        <div class="ui-g-12 ui-lg-3 ui-md-12 ui-sm-12 flex ai-c fd-c jc-c">
          <div class="contentHeader">
          </div>
          <div class="contentValue fd-c">
            <div class="flex jc-c visibleBtn">
              <a class="btn" style="margin-bottom: 5px;" (click)="makeAnOrder()">{{'NARUCI' | translate}}</a>
            </div>
            <div class="flex jc-c visibleBtn">
              <a class="btn btnRemove" (click)="removeAllProductsFromBasket()">{{'UKLONITE_SVE' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader -->
      <div class="center-page" *ngIf="loading">
        <div class="sk-cube-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyBasket>
  <div class="emptyBasket">
    <img src="assets/images/empty_cart.png">
    <div class="emptyBasketText">
      {{'KOSARICA_PRAZNA' | translate}}
    </div>
  </div>
</ng-template>
