<div vlass="aboutUsWrapper">
  <!-- About us header -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'O_NAMA' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'O_NAMA_HEADER' | translate}}</h2>
    </div>
  </div>

  <!-- About us card -->
  <div class="aboutUsCardWrapper">
    <div class="contentWrapper">
      <div class="aboutContent">
        <h2>{{'O_NAMA_01' | translate}}</h2>
        <h3 class="subHeadField">
          {{'O_NAMA_02' | translate}}
        </h3>
        <p>
         {{'O_NAMA_03' | translate}}
        </p>
      </div>
      <div class="shadow"></div>
    </div>
  </div>

  <!-- About us menu and contact cards -->
  <div class="aboutUsMenuAndContactWrapper">
    <div class="aboutUsMenuAndContactInnerWrapper">
      <div class="cardMenuAndContactWrapper">
        <div class="contactAndMenuText">
          <h3>{{'O_NAMA_04' | translate}}</h3>
          <p>
            {{'O_NAMA_05' | translate}}
          </p>
          <div class="contactUsAndMenuButtonWrapper">
            <div class="buttonContainer">
              <a href="#" class="btn" routerLink="/contactUs">{{'KONTAKTIRAJTE_NAS' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cardMenuAndContactWrapper">
        <div class="contactAndMenuText">
          <h3>{{'O_NAMA_06' | translate}}</h3>
          <p>
           {{'O_NAMA_07' | translate}}
          </p>
          <div class="contactUsAndMenuButtonWrapper">
            <div class="buttonContainer">
              <a href="#" class="btn" routerLink="/menu">{{'NAS_MENI' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TIMELINE SECTION -->
  <h1 class="HeadlineText">{{'O_NAMA_08' | translate}}</h1>
  <section id="timeline">
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/restaruantUnderConstruction.png)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2015</p>
      </div>
      <div class="tl-content">
        <h1>{{'O_NAMA_09' | translate}}</h1>
        <p>
          {{'O_NAMA_10' | translate}}
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/zagreb.jpg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2017</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">{{'O_NAMA_11' | translate}}</h1>
        <p>
          {{'O_NAMA_12' | translate}}
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/becomingInternational.jpg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2018</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">{{'O_NAMA_13' | translate}}</h1>
        <p>
          {{'O_NAMA_14' | translate}}
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/goldenYear.jpeg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2020</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">{{'O_NAMA_15' | translate}}</h1>
        <p>
          {{'O_NAMA_16' | translate}}
        </p>
      </div>
    </div>
  </section>
</div>
