<div vlass="aboutUsWrapper">
  <!-- About us header -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">ABOUT US</h1>
      <h2 class="coverHeaderContent">Everything you need about us and our history!</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- About us card -->
  <div class="aboutUsCardWrapper">
    <div class="contentWrapper">
      <div class="aboutContent">
        <h2>ABOUT OUR RESTAURANT</h2>
        <h3 class="subHeadField">
          We have been pleasing customers since day one
        </h3>
        <p>
          A quality and relaxing restaurant, run by award winning owners, all across balkan countries,
          with elegant modern touches. Relax by the cozy log burner perfect for winter evenings or
          enjoy outdoor seating on a sunny days. A daily menu, all freshly prepared in the our clean kitchen, includes
          burgers, pies, steaks, fish and
          many more for reasonable price. Conveniently locations, fast delivery, fresh food and cozy atmosphere will
          guarantee great meal
          for all occassions.
        </p>
      </div>
      <div class="shadow"></div>
    </div>
  </div>

  <!-- About us menu and contact cards -->
  <div class="aboutUsMenuAndContactWrapper">
    <div class="aboutUsMenuAndContactInnerWrapper">
      <div class="cardMenuAndContactWrapper">
        <div class="contactAndMenuText">
          <h3>ALWAYS AT YOUR SERVICE</h3>
          <p>
            Our restaurants are opened 24/7, free delievery in every part of town all day.
            We openly recieve all ideas and complaints on our e-mail.
          </p>
          <div class="contactUsAndMenuButtonWrapper">
            <div class="buttonContainer">
              <a href="#" class="btn" routerLink="/contactUs">CONTACT US</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cardMenuAndContactWrapper">
        <div class="contactAndMenuText">
          <h3>FAST AND FRESH</h3>
          <p>
            We serve fresh and natural based food.
            Our chefs deliever best products for best customers.
          </p>
          <div class="contactUsAndMenuButtonWrapper">
            <div class="buttonContainer">
              <a href="#" class="btn" routerLink="/menu">OUR MENU</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TIMELINE SECTION -->
  <h1 class="HeadlineText">OUR HISTORY</h1>
  <section id="timeline">
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/restaruantUnderConstruction.png)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2015</p>
      </div>
      <div class="tl-content">
        <h1>FIRST RESTAURANT</h1>
        <p>
          We opened our first restaurant on February 2. Our first restaurant was located in Split, Croatia.
          There was 4 employees at the moment, their names were Filip Bikić, Marin Tomić, Branko Radić and 
          Karlo Rešetar.
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/zagreb.jpg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2017</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">EXPANSION</h1>
        <p>
          Two years after the opening of first restaurant in Split, Croatia, we expanded our buisness to Zagreb.
          That was the year of the famous "Triple take" burger which pleased all of our customers with it special
          and unique taste. That was the year we became a brand.
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/becomingInternational.jpg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2018</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">BECOMING INTERNATIONAL</h1>
        <p>
          June 7 we opened our first restaurant outside of Croatia. We decided to settle 
          in Bulgaria, Sofia. That day the history was written and many bellies were full.
          Our brand became to expand across whole Balkan with or knew drive-in system
          and 24/7 delivery service.
        </p>
      </div>
    </div>
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(assets/images/goldenYear.jpeg)"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2020</p>
      </div>
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">GOLDEN YEAR</h1>
        <p>
          Today we own more than 5 restaurants across 3 balkan countries and we are
          well known and worldly acceptable brand. We have vast variety of products
          and unique system of delivery and serving food for our customers.
        </p>
      </div>
    </div>
  </section>
</div>
