<div vlass="favouritesWrapper">

  <!-- FAVOURITES HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'FAVORITI' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'FAVORITI_HEADER' | translate}}</h2>
    </div>
  </div>

  <!-- FAVOURITES SECTION-->
  <div *ngIf="favouritesGroupedByRestaurant; else noData" class="menuWrapper">
    <div class="w-100">
      <div *ngFor="let item of favouritesGroupedByRestaurant | keyvalue" class="w-100 flex fd-c">
        <div class="restaurantNameContainer">{{item.value[0].restaurant.name}}</div>
        <div class="ui-g ui-fluid w-100">
          <div *ngFor="let product of item.value" class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper cursor-pnt">
            <div class="productImage" (click)="navigateToProduct(product.name, product.productId)">
              <img [src]=product.imageToShow style="width: 100px">
            </div>
            <div class="productName" (click)="navigateToProduct(product.name, product.productId)">
              {{product.name}}
            </div>
            <div class="productPrice" (click)="navigateToProduct(product.name, product.productId)">
              {{product.price}} Kn
            </div>
            <div class="flex jc-c buttonContainer">
              <a class="btn" (click)="addToBasket(product)">{{'DODAJ_U_KOSARICU' | translate}}</a>
            </div>
            <div class="flex jc-c buttonContainer">
              <a class="btn btnRemove" (click)="deleteFromFavourites(product.productId)">{{'UKLONI' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <app-no-data noDataText="{{'NO_FAVOURITES' | translate}}"></app-no-data>
</ng-template>
