.coverHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.coverHeaderContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.coverHeaderHeadline {
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
  color: var(--goldenColor);
  text-align: center;
}

.coverHeaderContent {
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.opacityLayer {
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #051116b0;
}


@media only screen and (max-width: 840px) {
  .coverHeaderContent {
    font-size: 18px;
  }

  .coverHeaderHeadline {
    font-size: 1.8rem;
  }
}
