.coverHeader {
  height: 400px;
  width: 100%;
  background: url("../../assets/images/coverHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  position: relative;
  padding-bottom: 10%;
}

.coverHeaderContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coverHeaderHeadline {
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
  color: var(--goldenColor);
  text-align: center;
}

.coverHeaderContent {
  color: #000;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}


@media only screen and (max-width: 840px) {
  .coverHeaderContent {
    font-size: 18px;
  }

  .coverHeader {
    min-height: unset;
    padding-bottom: unset;
  }

  .coverHeaderContainer {
    transform: translateY(-30px);
  }

  .coverHeader {
    height: 52vh;
  }

}
