:host ::ng-deep .ui-dropdown {
    background: transparent;
    border: 1px solid var(--goldenColor);
  }
  
  :host ::ng-deep .ui-dropdown-panel {
    background-color: #bcb5b5;
  }
  
  :host ::ng-deep .ui-dropdown:hover {
    border: 1px solid var(--goldenColor) !important;
  }
  
  :host ::ng-deep .ui-dropdown.ui-state-focus {
    border: 1px solid var(--goldenColor) !important;
  }
  
  :host ::ng-deep .ui-inputtext {
    background: transparent;
    color: var(--goldenColor);
  }
  
  :host ::ng-deep .ui-inputtext::before {
    font-family: FontAwesome;
    content: "\f0ac";
    padding-right: 10px;
  }
  
  :host ::ng-deep .ui-dropdown .ui-dropdown-trigger {
    background-color: transparent;
    color: var(--goldenColor);
  }