@import './button.scss';

.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px #000000;
  margin: 50px 0;
  background-color: #0f0e0ecf;
  border-radius: 30px;
}

.signupHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 60px;
  .headerText {
    text-transform: uppercase;
    font-size: 2rem;
    color: #826f22;
    font-weight: 500;
    font-family: initial;
    color: var(--goldenColor);
  }
}

img {
  filter: drop-shadow(5px 5px 1px #e9d5bc);
  width: 200px;
  margin-bottom: 10px;
}

.haveAccountLink {
  font-size: 1rem;
  color: #666060;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  transition: 300ms ease-in;
}

.haveAccountLink:hover {
  color: var(--goldenColor);
  text-decoration: unset;
}

.signupContent {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.dataInput {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Fantasy;
  background-color: transparent;
  border-bottom: 1px solid var(--goldenColor);
  text-align: center;
  outline: none;
}

.fa {
  color: var(--goldenColor);
}

a {
  text-transform: uppercase;
}

input {
  color: white;
}

@media only screen and (max-width: 850px) {
  .FormWrapper {
    width: 80%;
    padding: 20px;
  }

  .signupContent {
    padding: 10px;
  }

  .haveAccountLink {
    font-size: 0.8rem;
  }
}
