@import '../../../assets/css/form.scss';
@import '../../../assets/css/loader.css';
@import '../../../assets/css/dropdown.scss';

.dataInputContainer {
  display: flex;
  width: 50%;
}

.buttonContainer {
  width: 80%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.mh-40 {
  max-height: 40px;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
}

.errorInput {
  border-bottom: 1px solid red;
  ::ng-deep {
    .ui-inputtext,
    .ui-inputtext:focus,
    .ui-inputtext:hover {
      border-bottom: 0 !important;
     
    }
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

:host ::ng-deep {
  .ui-inputtext::before {
    display: none;
  }

  .ui-dropdown,
  .ui-dropdown-open,
  .ui-dropdown:hover,
  .ui-dropdown:focus,
  .ui-dropdown:active {
    border: 0 !important;
    border-bottom: 1px solid var(--goldenColor) !important;
  }

  .ui-dropdown label.ui-dropdown-label {
    text-align: center;
  }

  .ui-fileupload .ui-fileupload-buttonbar,
  .ui-fileupload .ui-fileupload-content {
    border: 1px solid var(--goldenColor);
    background-color: transparent;
    color: white;
  }

  .ui-fileupload-content .ui-progressbar {
    display: none;
  }

  .ui-inputtext {
    border: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--goldenColor);
  }

  .ui-inputtext:focus {
    border: unset !important;
    border-bottom: 1px solid var(--goldenColor) !important;
  }

  .ui-inputtext:hover {
    border-bottom: 1px solid var(--goldenColor) !important;
  }
}

@media only screen and (max-width: 850px) {
  .dataInputContainer {
    width: 100%;
  }
}
