<div vlass="orderHistoryWrapper">

  <!-- ORDER HISTORY HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'POVIJEST_NARUDZBI' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'POVIJEST_NARUDZBI_HEADER' | translate}}</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- ORDER HISTORY SECTION-->
  <div class="ordersWrapper">
    <div *ngFor="let order of orders">
      <div class="orderHeader">
        <div class="orderText">
          {{order.orderTime}}
        </div>
        <div class="orderText">
          {{order.address}}
        </div>
        <div class="orderText">
          {{order.note}}
        </div>
        <div class="orderText">
          {{order.price}}kn
        </div>
      </div>
      <div class="ui-g ui-fluid w-100">
        <div *ngFor="let item of order.products" class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper" (click)="navigateToProduct(item.name, item.productId)">
          <span class="cursot-pnt w-100 ta-c" style="font-size: 1.3rem;">{{item.quantity}}</span>
          <div class="productImage">
            <img src="assets/images/products/{{item.imageName}}" style="width: 100px">
          </div>
          <div class="productName">
            {{item.name}}
          </div>
          <div class="productPrice">
            {{item.price}}kn
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
