@import '../../assets/css/divider.scss';
@import '../../assets/css/button.scss';
@import '../../assets/css/coverHeader.scss';
@import '../../assets/css/dropdown.scss';
@import '../../assets/css/products.scss';

.ordersWrapper {
  margin-top: 50px;
}

.orderHeader {
  background-color: #4343432e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.orderText {
  font-size: 1rem;
  font-weight: bold;
  color: var(--goldenColor);
  font-family: fantasy;
  padding: 0 5px;
}

.noOrders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noOrdersText {
  font-size: 50px;
  color: var(--goldenColor);
  font-weight: bold;
  font-family: fantasy;
  margin-bottom: 20px;
}

img {
  width: 30%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.priceChangeWarnText {
  color: #656663;
  text-decoration: underline;
  font-style: oblique;
}

a {
  margin-bottom: 5px;
}
@media only screen and (max-width: 650px) {
    img {
      width: 40%;
    }
  
    .noOrdersText {
      font-size: 30px;
    }
  }
