<div class="container">
  <div class="FormWrapper">
    <div class="formHeader">
      SIGN UP
    </div>
    <div class="ui-g ui-fluid h-90">
      <section class="ui-g-12 ui-lg-6 ui-md-12 ui-sm-12 signupContent">
        <div class="logoContainer flex jc-c">
          <img src="../../assets/images/burgerLogo.png">
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <input id="name" type="text" placeholder="Username">
          </div>
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <input id="name" type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <input id="name" type="password" placeholder="Password">
          </div>
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Sign up</a>
        </div>
        <div class="flex jc-c">
          <a routerLink="/login" class="haveAccountLink">I already have an account!</a>
        </div>
      </section>
    </div>
  </div>
</div>
