@import '../../assets/css/form.scss';
@import '../../assets/css/loader.css';

.buttonContainer {
    width: 80%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.mh-40 {
    max-height: 40px;
}

.errorMessage {
    color: red;
    font-size: 0.8rem;
}

.errorInput {
    border-bottom: 1px solid red;
}

.disabledButton {
    cursor: default;
    background-color: #80808078;
}

.disabledButton:hover {
    box-shadow: unset;
    color: #6f6868 !important;
}

.disabledButton::before {
    background: unset;
}

.center-page {
    height: unset;
    width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
}

a:hover {
    color: black;
}

@media only screen and (max-width: 1240px) {
    .center-page {
        left: 45%;
    }
}

