<div class="container">
  <div class="FormWrapper">
    <div class="formHeader">
      SIGN UP
    </div>
    <div class="ui-g ui-fluid h-90">
      <section class="ui-g-12 ui-lg-6 ui-md-12 ui-sm-12 signupContent">
        <div class="logoContainer flex jc-c">
          <img src="../../assets/images/burgerLogo.png">
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <input id="name" type="text" placeholder="Username">
          </div>
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <input id="name" type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="dataInput">
          <div class="flex">
            <div class="flex ai-c">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <input id="name" type="password" placeholder="Password">
          </div>
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Login</a>
        </div>
        <div class="flex jc-c">
          <a class="haveAccountLink">I already have an account!</a>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- <div class="buttonContainer">
          <button class="learn-more" > <(mouseover)="showInitialText()" (mouseout)="showHoveredText()"
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text" [ngClass]="{'hideButtonText': showHoveredButtonText}">Register
            </span>
          </button>
            < <span class="button-text" [ngClass]="{'hideButtonText': !showHoveredButtonText}">COMPLETED!</span>
          </button> 
        </div> -->
