<div *ngIf="productInfo; else noData" class="productInfoWrapper">
  <div class="flex fd-c">
    <div class="coverHeader">
      <div class="coverHeaderContainer">
        <h1 class="coverHeaderHeadline">{{productInfo.name}}</h1>
        <a *ngIf="user?.roleId === globalVar.userRoles.vlasnik" (click)="navigateToEditProduct()" class="btn editProductBtn">{{'UREDI_PRODUKT' | translate}}</a>
      </div>
    </div>
    <!-- IMAGE SECTION -->
    <div class="productImgWrapper">
      <img class="productImg" [src]=productInfo.imageToShow>
    </div>
    <!-- DECRIPTION SECTION -->
    <div class="descriptionWrapper">
      <div class="descriptionTextHeader">
        {{'INFORMACIJE_O_PRODUKTU_01' | translate}}
      </div>
      <div class="descriptionTextContent">
        <span *ngIf="selectedLang === 'hr'">
          <span *ngIf="productInfo.description_Hr; else noInfo">
            {{productInfo.description_Hr}}
          </span>
        </span>
        <span *ngIf="selectedLang === 'en'">
          <span *ngIf="productInfo.description_En; else noInfo">
            {{productInfo.description_En}}
          </span>
        </span>
      </div>
      <div *ngIf="user.roleId === globalVar.userRoles.korisnik" class="flex jc-c buttonContainer">
        <a class="btn" (click)="addToBasket()">{{'DODAJ_U_KOSARICU' | translate}}</a>
      </div>
      <div *ngIf="user.roleId === globalVar.userRoles.korisnik" class="flex jc-c buttonContainer">
        <a *ngIf="!isFavourite" class="btn" (click)="addToFavourites()">{{'DODAJ_U_FAVORITE' | translate}}</a>
        <a *ngIf="isFavourite" class="btn" [ngClass]="{'btnRemove': isFavourite}"
          (click)="removeFromFavourites()">{{'UKLONI_IZ_FAVORITE' | translate}}</a>
      </div>
    </div>

    <!-- NUTRITION VALUES -->
    <div class="nutritionValuesWrapper">
      <div class="nutritionValuesTextHeader">
        {{'INFORMACIJE_O_PRODUKTU_02' | translate}}
      </div>
      <div class="nutritionValuesContentWrapper">
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_03' | translate}}
          </div>
          <div class="contentValue">
            <span *ngIf="productInfo.calories || productInfo.calories === 0; else noInfo">{{productInfo.calories}} kcal</span> 
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_04' | translate}}
          </div>
          <div class="contentValue">
            <span *ngIf="productInfo.carbs || productInfo.carbs === 0; else noInfo">{{productInfo.carbs}} g</span> 
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_05' | translate}}
          </div>
          <div class="contentValue">
            <span *ngIf="productInfo.sugar || productInfo.sugar === 0; else noInfo">{{productInfo.sugar}} g</span> 
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_06' | translate}}
          </div>
          <div class="contentValue">
            <span *ngIf="productInfo.proteins || productInfo.proteins === 0; else noInfo">{{productInfo.proteins}} g</span> 
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_07' | translate}}
          </div>
          <div class="contentValue">
            <span *ngIf="productInfo.fat || productInfo.fat === 0; else noInfo">{{productInfo.fat}} g</span> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <app-no-data noDataText="{{'NEMA_PODATAKA' | translate}}">
  </app-no-data>
</ng-template>

<ng-template #noInfo>
  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
</ng-template>

