<div *ngIf="productInfo; else noData" class="productInfoWrapper">
  <div class="flex fd-c">
    <div class="coverHeader">
      <div class="coverHeaderContainer">
        <h1 class="coverHeaderHeadline">{{productInfo.name}}</h1>
      </div>
    </div>
    <!-- IMAGE SECTION -->
    <div class="productImgWrapper">
      <img class="productImg" [src]=productInfo.imageToShow>
    </div>
    <!-- DECRIPTION SECTION -->
    <div class="descriptionWrapper">
      <div class="descriptionTextHeader">
        {{'INFORMACIJE_O_PRODUKTU_01' | translate}}
      </div>
      <div class="descriptionTextContent">
        <span *ngIf="selectedLang === 'hr'">
          {{productInfo.description_Hr}}
        </span>
        <span *ngIf="selectedLang === 'en'">
          {{productInfo.description_En}}
        </span>
      </div>
      <div class="flex jc-c buttonContainer">
        <a class="btn" (click)="addToBasket()">{{'DODAJ_U_KOSARICU' | translate}}</a>
      </div>
      <div class="flex jc-c buttonContainer">
        <a *ngIf="!isFavourite" class="btn" (click)="addToFavourites()">{{'DODAJ_U_FAVORITE' | translate}}</a>
        <a *ngIf="isFavourite" class="btn" [ngClass]="{'btnRemove': isFavourite}"
          (click)="removeFromFavourites()">{{'UKLONI_IZ_FAVORITE' | translate}}</a>
      </div>
    </div>

    <!-- IMAGE SECTION -->
    <!-- <div class="productImgWrapper">
      <img class="productImg" [src]=productInfo.imageToShow>
    </div> -->

    <!-- NUTRITION VALUES -->
    <div class="nutritionValuesWrapper">
      <div class="nutritionValuesTextHeader">
        {{'INFORMACIJE_O_PRODUKTU_02' | translate}}
      </div>
      <div class="nutritionValuesContentWrapper">
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_03' | translate}}
          </div>
          <div class="contentValue">
            {{productInfo.calories}}kcal
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_04' | translate}}
          </div>
          <div class="contentValue">
            {{productInfo.carbs}}g
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_05' | translate}}
          </div>
          <div class="contentValue">
            {{productInfo.sugar}}g
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_06' | translate}}
          </div>
          <div class="contentValue">
            {{productInfo.proteins}}
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            {{'INFORMACIJE_O_PRODUKTU_07' | translate}}
          </div>
          <div class="contentValue">
            {{productInfo.fat}}g
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <app-no-data noDataText="{{'NEMA_PODATAKA' | translate}}">
  </app-no-data>
</ng-template>
