<div *ngIf="productInfo" class="productInfoWrapper">

  <!-- PRODUCT INFO HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{productInfo.name}}</h1>
      <h2 class="coverHeaderContent">Everything you need to know about product</h2>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- DECRIPTION SECTION -->
  <div class="flex fd-c">
    <div class="descriptionWrapper">
      <div class="descriptionTextHeader">
        DESCRIPTION
      </div>
      <div class="descriptionTextContent">
        {{productInfo.description_Hr}}
      </div>
      <div class="flex jc-c buttonContainer">
        <a class="btn">Add to basket</a>
      </div>
      <div class="flex jc-c buttonContainer">
        <a  *ngIf="!isFavourite" class="btn" (click)="addToFavourites()">Add to favourites</a>
        <a  *ngIf="isFavourite" class="btn" [ngClass]="{'btnRemove': isFavourite}" (click)="removeFromFavourites()">Remove from favourites</a>
      </div>
    </div>

    <!-- IMAGE SECTION -->
    <div class="productImgWrapper">
      <img class="productImg" src="assets/images/products/{{productInfo.imageName}}">
    </div>

    <!-- NUTRITION VALUES -->
    <div class="nutritionValuesWrapper">
      <div class="nutritionValuesTextHeader">
        NUTRITION VALUES
      </div>
      <div class="nutritionValuesContentWrapper">
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            Kalorije
          </div>
          <div class="contentValue">
            {{productInfo.calories}}kcal
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            Ugljikohi.
          </div>
          <div class="contentValue">
            {{productInfo.carbs}}g
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            Šečer
          </div>
          <div class="contentValue">
            {{productInfo.sugar}}g
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            Proteini
          </div>
          <div class="contentValue">
            {{productInfo.proteins}}
          </div>
        </div>
        <div class="nutritionValuesContent">
          <div class="contentHeader">
            Masti
          </div>
          <div class="contentValue">
            {{productInfo.fat}}g
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
