<div class="menuContainer">

  <!-- Menu HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'MENI' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'MENI_HEADER' | translate}}</h2>
      <span class="as-c">
        <p-dropdown [options]="categoriesDropdown" [(ngModel)]="selectedCategoryId"
          (onChange)="filterProductsBasedOnCategory()">
        </p-dropdown>
      </span>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- MENU SECTION-->
  <div class="menuWrapper">
    <div class="ui-g ui-fluid w-100">
      <div *ngFor="let product of selectedCategory.products"
        class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage" (click)="navigateToProduct(product.productId, product.name)">
          <img src="assets/images/products/{{product.imageName}}" style="width: 100px">
        </div>
        <div class="productName" (click)="navigateToProduct(product.productId, product.name)">
          {{product.name}}
        </div>
        <div class="productPrice" (click)="navigateToProduct(product.productId, product.name)">
          {{product.price}}kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a class="btn" (click)="increaseProductInABasketNumber(); addProductToBasket(product)">{{'DODAJ_U_KOSARICU' |
            translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toast-messages></app-toast-messages>
