@import '../../assets/css/divider.scss';
@import '../../assets/css/button.scss';
@import '../../assets/css/coverHeader.scss';
@import '../../assets/css/dropdown.scss';
@import '../../assets/css/products.scss';

.menuCover {
  background-image: url("../../assets/images/menuCover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  width: unset;
  transition: all .5s ease;
  opacity: 0;
}

.btn {
  width: 100%;
}

.btn:hover {
  box-shadow: unset;
}

@media only screen and (max-width: 1024px) {
  .buttonContainer {
    opacity: 1;
  }
}
