<div vlass="menuWrapper">

  <!-- CONTACT US HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">MENU</h1>
      <h2 class="coverHeaderContent">Check out our fresh and delicious menu</h2>
      <span class="as-c">
        <p-dropdown [options]="categories" [(ngModel)]="selectedcategory">
        </p-dropdown>
      </span>
    </div>
    <div class="triangleShapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <!-- MENU SECTION-->
  <div class="menuWrapper">
    <div class="ui-g ui-fluid w-100">
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
      <div class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage">
          <img src="assets/images/login.png" style="width: 100px">
        </div>
        <div class="productName">
          Big tasty
        </div>
        <div class="productPrice">
          30kn
        </div>
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Add to basket</a>
        </div>
      </div>
    </div>
  </div>
</div>
