<div class="menuContainer">

  <!-- Menu HEADER -->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{restaurantInfo.name}}</h1>
      <span class="as-c">
        <p-dropdown [options]="categoriesDropdown" [(ngModel)]="selectedCategoryId"
          (onChange)="filterProductsBasedOnCategory()">
        </p-dropdown>
      </span>
      <a *ngIf="userData?.roleId === globalVar.userRoles.vlasnik" (click)="navigateToAddNewProduct()" class="btn addRestaurantBtn">{{'DODAJ_PRODUKT' | translate}}</a>
    </div>
  </div>

  <!-- MENU SECTION-->
  <div *ngIf="selectedCategory.products.length > 0; else noProducts" class="menuWrapper">
    <div class="ui-g ui-fluid w-100">
      <div *ngFor="let product of selectedCategory.products"
        class="ui-g-12 ui-xl-2 ui-lg-3 ui-md-6 ui-sm-12 productWrapper">
        <div class="productImage" [ngClass]="{'cursot-pnt': userData?.roleId !== globalVar.userRoles.admin}"
          (click)="navigateToProduct(product.productId, product.name)">
          <img [src]=product.imageToShow style="width: 100px" />
        </div>
        <div class="productName" [ngClass]="{'cursot-pnt': userData?.roleId !== globalVar.userRoles.admin}"
          (click)="navigateToProduct(product.productId, product.name)">
          {{product.name}}
        </div>
        <div class="productPrice" [ngClass]="{'cursot-pnt': userData?.roleId !== globalVar.userRoles.admin}"
          (click)="navigateToProduct(product.productId, product.name)">
          {{product.price}}kn
        </div>
        <div *ngIf="!userData || userData?.roleId === globalVar.userRoles.korisnik" class="flex jc-c buttonContainer">
          <a class="btn" (click)="increaseProductInABasketNumber(); addProductToBasket(product)">{{'DODAJ_U_KOSARICU' |
            translate}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- REVIEWS HEADER-->
  <div class="coverHeader">
    <div class="coverHeaderContainer">
      <h1 class="coverHeaderHeadline">{{'REVIEWS' | translate}}</h1>
      <h2 class="coverHeaderContent">{{'REVIEWS_HEADER' | translate}}</h2>
    </div>
  </div>

  <!-- REVIEWS SECTION-->
  <div *ngIf="reviews.length > 0; else noReviews" class="reviewsSection">
    <span class="userRatingsText">{{'KORISNICKE_RECENZIJE' | translate}} ({{ numberOfReviews }})</span>
    <div class="ratingContainer">
      <div class="starStats">
        <div id="fiveStar" class="ratingStats">
          <span class="ratingNumberText">5</span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="rGraph">
            <b id="fiveStarPrecentage" class="r-graph-scroller" [style.width]="starPrecentage.five"></b>
          </span>
          <div class="precentageCard">
            <span>{{starPrecentage.five}}</span>
          </div>
        </div>
        <div id="fourStar" class="ratingStats">
          <span class="ratingNumberText">4</span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="rGraph">
            <b id="fourStarPrecentage" class="r-graph-scroller" [style.width]="starPrecentage.four"></b>
          </span>
          <div class="precentageCard">
            <span>{{starPrecentage.four}}</span>
          </div>
        </div>
        <div id="threeStar" class="ratingStats">
          <span class="ratingNumberText">3</span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="rGraph">
            <b id="threeStarPrecentage" class="r-graph-scroller" [style.width]="starPrecentage.three"></b>
          </span>
          <div class="precentageCard">
            <span>{{starPrecentage.three}}</span>
          </div>
        </div>
        <div id="twoStar" class="ratingStats">
          <span class="ratingNumberText">2</span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="rGraph">
            <b id="twoStarPrecentage" class="r-graph-scroller" [style.width]="starPrecentage.two"></b>
          </span>
          <div class="precentageCard">
            <span>{{starPrecentage.two}}</span>
          </div>
        </div>
        <div id="oneStar" class="ratingStats" style="padding-left: 2px;">
          <span class="ratingNumberText">1</span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="rGraph">
            <b id="oneStarPrecentage" class="r-graph-scroller" [style.width]="starPrecentage.one"></b>
          </span>
          <div class="precentageCard">
            <span>{{starPrecentage.one}}</span>
          </div>
        </div>
      </div>

      <div class="totalStat">
        <span class="avgLabel">{{'UKUPNO' | translate}}</span>
        <div class="totalRating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="ratingNumber">{{totalRating}}</span>
          <span class="ratingNumberDivider">/</span>
          <span class="ratingNumber" style="margin-left: 2px;">5</span>
        </div>
      </div>
    </div>

    <div class="commentsWrapper">
      <div *ngIf="userData && userData.roleId === globalVar.userRoles.korisnik" class="commentTextArea">
        <p-rating [(ngModel)]="myReview.rating" [cancel]="false"></p-rating>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" placeholder="Write your comment..."
          [(ngModel)]="myReview.comment"></textarea>
        <div class="writeCommentButton">
          <button pButton type="button" label="Comment" icon="pi pi-comment" class="ui-button-secondary"
            (click)="onClickReview()" [disabled]="!userData || !myReview.rating"></button>
        </div>
      </div>
      <div class="commentContainer" *ngFor="let review of reviews">
        <div class="commentHeader">
          <span class="usernameText">{{review.user.username}}</span>
          <span class="dot">•</span>
          <span>
            <p-rating [(ngModel)]="review.rating" [cancel]="false" [readonly]="true"></p-rating>
          </span>
        </div>
        <div class="commentContent">
          <span>
            {{review.comment}}
          </span>
        </div>

      </div>
    </div>

  </div>
</div>

<ng-template #noProducts>
  <app-no-data noDataText="{{'NEMA_PROIZVODA' | translate}}">
  </app-no-data>
</ng-template>

<ng-template #noReviews>
  <app-no-data noDataText="{{'NEMA_RECENZIJA' | translate}}">
  </app-no-data>
</ng-template>

<app-toast-messages></app-toast-messages>