<div class="mainWrapper">
    <div class="FormWrapper">
      <section class="signupHeader">
        <span class="headerText">
          {{'DODAJ_RESTORAN' | translate}}
        </span>
      </section>
      <section class="signupContent">   
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40">
              <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <input  type="text" id="name" name="name" placeholder="{{'NAZIV' | translate}}" 
                [ngClass]="{'errorInput': name.invalid && (name.dirty || name.touched)}" required
                [(ngModel)]="restaurantModel.name" #name="ngModel">
            </div>
          </div>
        </div>
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40">
              <i class="fa fa-address-card-o" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <input  type="text" id="address" name="address" placeholder="{{'ADRESA' | translate}}"
                [ngClass]="{'errorInput': address.invalid && (address.dirty || address.touched)}" 
                [(ngModel)]="restaurantModel.address" #address="ngModel" required>
            </div>
          </div>
        </div>
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <input type="tel" id="phone" name="phone" pattern="^\(?([0-9]{3})\)?[- ]?([0-9]{3})[- ]?([0-9]{4})$" 
              placeholder="{{'BROJ_MOBITELA' | translate}}" 
              [ngClass]="{'errorInput': phone.invalid && (phone.dirty || phone.touched)}"
              [(ngModel)]="restaurantModel.mobileNumber" #phone="ngModel" required>
              <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="errorMessage">{{'MOBILE_ERROR' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <input type="number" id="minOrder" name="minOrder" placeholder="{{'MIN_NARUDZBA' | translate}}" 
                [ngClass]="{'errorInput': minOrder.invalid && (minOrder.dirty || minOrder.touched)}" required
                [(ngModel)]="restaurantModel.minOrderPrice" #minOrder="ngModel">
            </div>
          </div>
        </div>
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40" >
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <p-dropdown [options]="restaurantTypeDropdown" [(ngModel)]="restaurantModel.RestaurantTypeId"  appendTo="body">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="dataInput">
          <div class="dataInputContainer">
            <div class="flex ai-c mh-40" >
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <div class="inputWrapper">
              <p-dropdown [options]="ownersDropDown" [(ngModel)]="restaurantModel.UserId"  appendTo="body">
              </p-dropdown>
            </div>
          </div>
        </div>
         <div class="dataInput">
          <div class="dataInputContainer">
            <div class="inputWrapper">
              <p-fileUpload #fileUploader name="myfile" customUpload="true" (uploadHandler)="myUploader($event)" accept="image/*" maxFileSize="2e6" [auto]="true"></p-fileUpload>
            </div>
          </div>
        </div>
        <div class="dataInput">
            <div class="dataInputContainer">
              <div class="inputWrapper" style="align-items: center;">
                <span class="currImageText">{{'TRENUTNA_SLIKA' | translate}}</span>
                <img [src]=restaurantModel.imageToShow class="restaurantCardsImg">
            </div>
            </div>
          </div>
        <div class="flex jc-c buttonContainer">
          <a class="btn" (click)="editRestaurant()" [ngClass]="{'disabledButton': !isFormValid()}">{{'SPREMI' |
            translate}}</a>
        </div>
      </section>
    </div>
  
  </div>
  
  <app-toast-messages></app-toast-messages>