<div class="largeScreen">
  <section class="topMenu" [ngClass]="{'displayNav': displayOverlayNav}">
    <nav>
      <ul class="flex fd-r jc-sb">
        <li class="logoAndLangChangeContainer">
          <div class="flex">
            <a *ngIf="(roleId === globalVar.userRoles.admin ||  roleId === globalVar.userRoles.vlasnik); else routeLogo" class="logoHomeLink">
              <img src="assets/images/burgerLogo.png" style="width: 100px; cursor: default;" >
            </a>
            <ng-template #routeLogo>
              <a class="logoHomeLink" routerLink="/homepage">
                <img src="assets/images/burgerLogo.png" style="width: 100px" >
              </a>
            </ng-template>
            
            <span class="as-c">
              <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()">
              </p-dropdown>
            </span>
          </div>
        </li>
        <li *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="linksContainer jc-c">
          <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
          <a routerLink="/aboutUs">{{'O_NAMA' | translate}}</a>
          <a routerLink="/contactUs">{{'KONTAKTIRAJTE_NAS' | translate}}</a>
          <a routerLink="/favourites">{{'FAVORITI' | translate}}</a>
          <a routerLink="/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
        </li>
        <li *ngIf="roleId && roleId === globalVar.userRoles.admin" class="linksContainer jc-c">
          <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
          <a routerLink="/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
          <a routerLink="/registration">{{'REGISTRIRAJ_KORISNIKA' | translate}}</a>
        </li>
        <li *ngIf="roleId && roleId === globalVar.userRoles.vlasnik" class="linksContainer jc-c">
          <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
          <a routerLink="/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
        </li>
        <li class="basketAndButtonContainer">
          <div class="flex jc-c buttonContainer">
            <img *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="basketIcon" src="assets/images/MenuBasket.png" (click)="navigateToBasket()">
            <div *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="numberOfProductsInBasket" (click)="navigateToBasket()">
              {{numberOfProducts}}
            </div>
            <a *ngIf="!userLoginStatus" routerLink="/login" class="btn" style="min-width: 80px ">{{'PRIJAVA' | translate}}</a>
            <a *ngIf="userLoginStatus"  (click)="logOutUser()" class="btn" style="min-width: 80px ">{{'ODJAVA' | translate}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </section>
</div>

<div class="smallScreen">
  <section class="topMenu">
    <nav>
      <ul class="flex fd-r jc-sb">
        <li class="logoAndLangChangeContainer">
          <div class="flex">
            <img class="menuIcon" src="assets/images/MenuIcon.png" (click)="openOverlayNav()">
            <span class="as-c">
              <p-dropdown [options]="langs" [(ngModel)]="selectedLang">
              </p-dropdown>
            </span>
          </div>
        </li>
        <li class="basketAndButtonContainer">
          <div class="flex jc-fe buttonContainer">
            <img *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="basketIcon" src="assets/images/MenuBasket.png" (click)="navigateToBasket()">
            <div *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="numberOfProductsInBasket" (click)="navigateToBasket()">
              {{numberOfProducts}}
            </div>
            <a *ngIf="!userLoginStatus" routerLink="/login" class="btn" style="width: 80px !important ">{{'PRIJAVA' | translate}}</a>
            <a *ngIf="userLoginStatus"  (click)="logOutUser()" class="btn" style="width: 80px !important ">{{'ODJAVA' | translate}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </section>
</div>

<div id="overlayNav" class="overlayNav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeOverlayNav()">&times;</a>
  <div *ngIf="!roleId || roleId === globalVar.userRoles.korisnik" class="overlayNavContent">
    <a routerLink="/homepage">{{'POCETNA' | translate}}</a>
    <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
    <a routerLink="/aboutUs">{{'O_NAMA' | translate}}</a>
    <a routerLink="/contactUs">{{'KONTAKTIRAJTE_NAS' | translate}}</a>
    <a routerLink="/favourites">{{'FAVORITI' | translate}}</a>
    <a routerLink="/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
  </div>
  <div *ngIf="roleId && roleId === globalVar.userRoles.admin" class="overlayNavContent">
    <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
    <a routerLink="/admin/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
    <a routerLink="/registration">{{'REGISTRIRAJ_KORISNIKA' | translate}}</a>
  </div>
  <div *ngIf="roleId && roleId === globalVar.userRoles.vlasnik" class="overlayNavContent">
    <a routerLink="/restaurants">{{'RESTORANI' | translate}}</a>
    <a routerLink="/owner/orderHistory">{{'POVIJEST_NARUDZBI' | translate}}</a>
  </div>
</div>

