a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.selectedRoute {
  color: red !important;
}

.text-color:hover {
  color: rgba(0, 0, 0, 0.74);
}

.text-color {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-collapse {
  margin-right: 20px;
}

.selectedLang {
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}

.point {
  cursor: pointer;
}

.langIcon {
  width: 25px;
  margin: 5px;
}

.bg-silver {
  background-color: #f2f2f2;
}