<div class="largeScreen">
  <section class="topMenu" [ngClass]="{'displayNav': displayOverlayNav}">
    <nav>
      <ul class="flex fd-r jc-sb">
        <li class="logoAndLangChangeContainer">
          <div class="flex">
            <a class="logoHomeLink" routerLink="/">
              <img src="assets/images/burgerLogo.png" style="width: 100px;">
            </a>
            <span class="as-c">
              <p-dropdown [options]="langs" [(ngModel)]="selectedLang">
              </p-dropdown>
            </span>
          </div>
        </li>
        <li class="linksContainer jc-c">
          <a href="#">MENU</a>
          <a href="#">ABOUT US</a>
          <a href="#">CONTACT US</a>
          <a href="#">FAVOURITES</a>
          <a href="#">ORDER HISTORY</a>
        </li>
        <li class="basketAndButtonContainer">
          <div class="flex jc-c buttonContainer">
            <img class="basketIcon" src="assets/images/MenuBasket.png">
            <div class="numberOfProductsInBasket">
              {{numberOfProducts}}
            </div>
            <a routerLink="/login" href="#" class="btn">Login</a>
          </div>
        </li>
      </ul>
    </nav>
  </section>
</div>

<div class="smallScreen">
  <section class="topMenu">
    <nav>
      <ul class="flex fd-r jc-sb">
        <li class="logoAndLangChangeContainer">
          <div class="flex">
            <img class="menuIcon" src="assets/images/MenuIcon.png" (click)="openOverlayNav()">
            <span class="as-c">
              <p-dropdown [options]="langs" [(ngModel)]="selectedLang">
              </p-dropdown>
            </span>
          </div>
        </li>
        <li class="basketAndButtonContainer">
          <div class="flex jc-fe buttonContainer">
            <img class="basketIcon" src="assets/images/MenuBasket.png">
            <div class="numberOfProductsInBasket">
              {{numberOfProducts}}
            </div>
            <a routerLink="/login" href="#" class="btn">Login</a>
          </div>
        </li>
      </ul>
    </nav>
  </section>
</div>

<div id="overlayNav" class="overlayNav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeOverlayNav()">&times;</a>
  <div class="overlayNavContent">
    <a routerLink="/">HOME</a>
    <a href="#">MENU</a>
    <a href="#">ABOUT US</a>
    <a href="#">CONTACT US</a>
    <a href="#">FAVOURITES</a>
    <a href="#">ORDER HISTORY</a>
  </div>
</div>
