<section class="topMenu">
  <nav>
    <ul class="flex fd-r jc-sb">
      <li>
        <img src="assets/images/burgerLogo.png" style="width: 100px;">
      </li>
      <li>
        <a href="#">Košarica</a>
      </li>
      <li class="usernameWithButton">
        <div class="flex jc-c buttonContainer">
          <a href="#" class="btn">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</section>

<section class="bottomMenu">
  <div style="width: 100%;">
    <div id="circularMenu" class="circular-menu">

      <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <i class="fa fa-plus"></i>
      </a>

      <menu class="items-wrapper">
        <a href="#" class="menu-item-lang fa fa-facebook"></a>
        <a href="#" class="menu-item-lang fa fa-twitter"></a>

      </menu>

    </div>


    <div id="circularMenu1" class="circular-menu circular-menu-left">

      <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
        <i class="fa fa-bars"></i>
      </a>

      <menu class="items-wrapper">
        <a href="#" class="menu-item fa fa-home"></a>
        <a href="#" class="menu-item fa fa-user"></a>
        <a href="#" class="menu-item fa fa-pie-chart"></a>
        <a href="#" class="menu-item fa fa-cog"></a>
      </menu>

    </div>
  </div>
</section>
