<!-- Empty div just so we take nav height -->
<div class="emptyDivForNav">

</div>

<!-- IMAGE SLIDER -->
<div class="imageSliderWrapper">
  <app-img-slider [imgList]="Images"></app-img-slider>
</div>

<!-- MENU SECTION -->
<section class="menuSection">
  <div class="sectionContainer">
    <div class="sectionInnerContainer">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          MENU
        </h1>
        <h2 class="sectionTextContent">
          Best products made of best meat and fresh vegetables.
          Vest variaty of food to please everyones taste.
          Find most delicious menu and satisfy your hunger.
        </h2>
        <div class="buttonContainer">
          <a routerLink="/menu" class="btn">Check our menu</a>
        </div>
      </div>
      <div class="SectionImageContainer">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomePageMenu.png">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ABOUT US SECTION -->
<section class="aboutUs">
  <div class="sectionContainer">
    <div class="sectionInnerContainer reverse">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          ABOUT US
        </h1>
        <h2 class="sectionTextContent">
          Long term family friendly restaurants with finest food made of best ingridients.
          Serving 100% authentic food for best price.
        </h2>
        <div class="buttonContainer">
          <a routerLink="/aboutUs"  class="btn">Find more about us</a>
        </div>
      </div>
      <div class="SectionImageContainer">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomePageAboutUs.png" style="padding-top: 20px;">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FIXED BACKGROUND IMAGE-->
<section class="bckgPicture">

</section>

<!-- CONTACT US SECTION -->
<section class="contactUs">
  <div class="sectionContainer">
    <div class="sectionInnerContainer">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          CONTACT US
        </h1>
        <h2 class="sectionTextContent">
          Free delivery at your doorsteps 24/7.
          Our customer service is always available for your requests.
          Every suggestion is welcome and you can send it via e-mail.
        </h2>
        <div class="buttonContainer">
          <a routerLink="/contactUs"  class="btn">Contact us here</a>
        </div>
      </div>
      <div class="SectionImageContainer s-w-100">
        <div class="SectionImageInnerContainer">
          <img class="contactUsImg" src="assets/images/HomePageContactUs.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SOCIAL MEDIA SECTION -->
<section class="socialMediaSection">
  <div class="sectionContainer" style="border-bottom: unset">
    <div class="sectionInnerContainer reverse">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          SOCIAL MEDIA
        </h1>
        <h2 class="sectionTextContent">
          Find us on social media platforms.
          See latest updates and photos of our products.
          Stay in trend with your favourite fast food.
        </h2>
        <div class="socialMediaLogoContainer">
          <a  class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/twitterLogo.png">
          </a>
          <a class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/instagramLogo.png">
          </a>
          <a class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/facebookLogo.png">
          </a>
        </div>
      </div>
      <div class="SectionImageContainer s-w-100">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomepageSocialMedia.png" style="height: 100%; padding-top: unset;">
        </div>
      </div>
    </div>
  </div>
</section>
