<!-- IMAGE SLIDER -->
<div class="imageSliderWrapper">
  <app-img-slider [imgList]="Images"></app-img-slider>
</div>

<!-- MENU SECTION -->
<section class="menuSection">
  <div class="sectionContainer">
    <div class="sectionInnerContainer">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          {{'MENI' | translate}}
        </h1>
        <h2 class="sectionTextContent">
          {{'POCETNA_01' | translate}}
        </h2>
        <div class="buttonContainer">
          <a routerLink="/menu" class="btn">{{'NAS_MENI' | translate}}</a>
        </div>
      </div>
      <div class="SectionImageContainer">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomePageMenu.png">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ABOUT US SECTION -->
<section class="aboutUs">
  <div class="sectionContainer">
    <div class="sectionInnerContainer reverse">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          {{'O_NAMA' | translate}}
        </h1>
        <h2 class="sectionTextContent">
          {{'POCETNA_02' | translate}}
        </h2>
        <div class="buttonContainer">
          <a routerLink="/aboutUs"  class="btn">{{'POCETNA_03' | translate}}</a>
        </div>
      </div>
      <div class="SectionImageContainer">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomePageAboutUs.png" style="padding-top: 20px;">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FIXED BACKGROUND IMAGE-->
<section class="bckgPicture">

</section>

<!-- CONTACT US SECTION -->
<section class="contactUs">
  <div class="sectionContainer">
    <div class="sectionInnerContainer">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          {{'KONTAKTIRAJTE_NAS' | translate}}
        </h1>
        <h2 class="sectionTextContent">
         {{'POCETNA_04' | translate}}
        </h2>
        <div class="buttonContainer">
          <a routerLink="/contactUs"  class="btn">{{'POCETNA_05' | translate}}</a>
        </div>
      </div>
      <div class="SectionImageContainer s-w-100">
        <div class="SectionImageInnerContainer">
          <img class="contactUsImg" src="assets/images/HomePageContactUs.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SOCIAL MEDIA SECTION -->
<section class="socialMediaSection">
  <div class="sectionContainer" style="border-bottom: unset">
    <div class="sectionInnerContainer reverse">
      <div class="sectionText">
        <h1 class="sectionTextTitle">
          {{'SOCIAL_MEDIA' | translate}}
        </h1>
        <h2 class="sectionTextContent">
          {{'POCETNA_06' | translate}}
        </h2>
        <div class="socialMediaLogoContainer">
          <a  class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/twitterLogo.png">
          </a>
          <a class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/instagramLogo.png">
          </a>
          <a class="socialMediaHref" href="#">
            <img class="socialMediaImg" src="assets/images/facebookLogo.png">
          </a>
        </div>
      </div>
      <div class="SectionImageContainer s-w-100">
        <div class="SectionImageInnerContainer">
          <img src="assets/images/HomepageSocialMedia.png" style="height: 100%; padding-top: unset;">
        </div>
      </div>
    </div>
  </div>
</section>
