<div class="footerContainer flex jc-c">
  <div class="footerContentContainer flex fd-c ai-c">
    <div class="socialMediaContainer">
      <a class="socialMediaHref" href="#">
        <img class="socialMediaImg" style="width: 50px;" src="assets/images/twitterLogo.png">
      </a>
      <a class="socialMediaHref" href="#">
        <img class="socialMediaImg" style="width: 50px;" src="assets/images/instagramLogo.png">
      </a>
      <a class="socialMediaHref" href="#">
        <img class="socialMediaImg" style="width: 50px;" src="assets/images/facebookLogo.png">
      </a>
    </div>
    <div class="navContainer">
      <a class="navItems"  routerLink="/homepage">{{'POCETNA' | translate}}</a>
      <a class="navItems" routerLink="/menu">{{'MENI' | translate}}</a>
      <a class="navItems" routerLink="/contactUs">{{'KONTAKTIRAJTE_NAS' | translate}}</a>
      <a class="navItems" routerLink="/aboutUs">{{'O_NAMA' | translate}}</a>
    </div>
    <div class="registrationContainer">
      <div class="flex jc-c buttonContainer">
        <a href="#" class="btn" routerLink="/registration">{{'REGISTRACIJA' | translate}}</a>
      </div>
    </div>
    <div class="alreadyHaveAnAccountContainer">
      <a class="alreadyHaveAnAccountLink" routerLink="/login">{{'IMAM_RACUN' | translate}}</a>
    </div>
    <div class="copyrightContainer">
      <span class="copyrightContent">© 2020 Filip Bikić All Rights Reserved</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle pointer" width="44"
        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f5ce34" fill="none" stroke-linecap="round"
        stroke-linejoin="round" (click)="goToTop()">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="8" y2="12" />
        <line x1="12" y1="8" x2="12" y2="16" />
        <line x1="16" y1="12" x2="12" y2="8" />
      </svg>
    </div>
  </div>
</div>
